/* css reset */

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/* generic */

body {
    font-family: sans-serif;
}

.upper-content {
    display: flex;
    height: calc(100vh - 100px);


}

footer {
    height: 100px;
    background-color: #282828;
}

.sidebar {
    flex-basis: 220px;
    flex-shrink: 0;
    background-color: black;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;

}


.main-header {
    position: sticky;
    left: 0;
    top: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);

}


/* utility */

p {
    color: white;
}


/* MAIN HEADER */
.main-header {
    padding-right: 20px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 5px 45px;
}





/* FOOTER */

.row-footer {
    height: 100%;
    display: flex;
}

.col-left {
    flex-basis: 25%;
    border: 1px dashed white;
}

.col-center {
    flex-basis: 50%;
    border: 1px dashed white;
}

.col-right {
    flex-basis: 25%;
    border: 1px dashed white;
}