/* css reset */

body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/* utility */

.upper-content {
    display: flex;
    height: calc(100vh - 100px);


}

footer {
    height: 100px;
    background-color: #282828;
}

.sidebar {
    flex-basis: 220px;
    flex-shrink: 0;
    background-color: black;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #141922;

}


.main-header {
    position: sticky;
    left: 0;
    top: 0;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);

}

p {
    color: white;
}